@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
  /* Colors */
  --building-color: #5C424B;
  --floor-default-color: #FEA94E;

  --primary-default: #4A566F;
  --primary-dark: #1f2e45;
  --primary-darker: #7facb4;
  --primary-light: #BDE6EF;
  --primary-lighter: #F2FAFC;

  --error-default: #CC4867;
  --error-dark: #d32d4b;
  --error-darker: #7D2138;
  --error-light: #ff7a95;

  --success-default: #92AD6A;
  --success-dark: #43650b;
  --success-light: #A8EEEB;
  --success-lighter: #E7FFFE;


  /* Text Color */
  --text-color: #3D3D3D;

  /* Shadows */
  --background-tertiary-shadow: 0 1px 3px 0 rgba(136, 136, 136, 0.5);
}

body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.position-center-raw{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.position-center-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.position-center-down{
  display: flex;
  justify-content: center;
  align-items: end;
}
