.elevator-container{
  position: absolute;
  height: 110px;
  width: 84px;
  background-image: url("../../../../assets/elevator.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 47px;
  top: 685px;
}
